body::-webkit-scrollbar{
    display: none;
}
.Container {
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("login-background.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-form {
    background: rgba(0,0,0,0.7);
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    margin: auto;
}
.login-form h1{
  text-align: center;
  font-weight: bold;
  color: white;
}
.login-form .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.login-form label {
    color: white;
    margin-bottom: 8px;
}
.login-form input {
    padding: 12px;
    border-radius: 5px;
    border: none;
}
.login-form button{
      width: 400px;
    padding: 12px;
    font-weight: bold;
    font-size: 15px;
    background: #e21e1e;

}
.login-form p{
  color: red;
}
.signup-link{
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #bf1414f7;
    text-decoration: none;
}
.signup-form{
    background: rgba(0,0,0,0.7);
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    margin: auto;
}
.form-row{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

 .signup-form .input-group{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
}
.signup-form label{
    color: white;
    margin-bottom: 8px;
}
.signup-form input{
    padding: 12px;
    border-radius: 5px;
    border: none;
}
.signup-form h1{
  text-align: center;
  font-weight: bold;
  color: white;
}
.signup-form select{
    padding: 12px;
    border-radius: 5px;
    border: none;
}
.signup-form button{
    width: 100%;
    padding: 12px;
    font-weight: bold;
    font-size: 15px;
    background: #e21e1e;
}