.Container {
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("login-background.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.form {
    background: rgba(0,0,0,0.7);
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    margin: auto;
}
.form h1{
  text-align: center;
  font-weight: bold;
  color: white;
}
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
label {
    color: white;
    margin-bottom: 8px;
}
input {
    padding: 12px;
    border-radius: 5px;
    border: none;
}
.form button{
      width: 400px;
    padding: 12px;
    font-weight: bold;
    font-size: 15px;
    background: #e21e1e;

}
.form p{
  color: red;
}