body::-webkit-scrollbar{
    display: none;
}
.Container {
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("login-background.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.login-logo {
        position: absolute;
    top: 0px;
    left: 40px;
    width: 160px;
    cursor: pointer;
    z-index: 100;
}

.login-form {
    background: rgba(0,0,0,0.7);
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    margin: auto;
}
.login-form h1{
  text-align: center;
  font-weight: bold;
  color: white;
}
.login-form .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.login-form label {
    color: white;
    margin-bottom: 8px;
}
.login-form .input-group input  {
    padding: 12px;
    border-radius: 5px;
    border: none;
    width: 94%;
}
.login-form button{
      width: 400px;
    padding: 12px;
    font-weight: bold;
    font-size: 15px;
    background: #e21e1e;
        color: white;

}
.login-form p{
  color: red;
}
.signup-link{
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #bf1414f7;
   
}
.signup-form{
    background: rgba(0,0,0,0.7);
    padding: 40px;
    border-radius: 10px;
    width: 110%;
    margin: auto;
}
.form-row{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

 .signup-form .input-group{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
}
.signup-form label{
    color: white;
    margin-bottom: 8px;
}
.signup-form .input-group input{
    padding: 12px;
    border-radius: 5px;
    border: none;
    width: 88%;
}
.signup-form h1{
  text-align: center;
  font-weight: bold;
  color: white;
}
.signup-form  .input-group select{
    padding: 12px;
    border-radius: 5px;
    border: none;
    width: 95%;
}
.signup-form button{
    width: 100%;
    padding: 12px;
    font-weight: bold;
    font-size: 15px;
    background: #e21e1e;
        color: white;
}
.error{
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
.loader-overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background:rgba(0,0,0,0.7);

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:9999;
}

.loader{
    width:60px;
    height:60px;
    border:6px solid white;
    border-top:6px solid red;
    border-radius:50%;
    animation:spin 1s linear infinite;
}

@keyframes spin{

    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }

}
.toast{

   position: fixed;
    top: 20px;
    right: 20px;
    background: white;
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: bold;
    z-index: 9999;

}
.toast button {
    background: none;
    border: none;
    color: grey;
    font-size: 15px;
    cursor: pointer;
    margin-left: 5px;
}
.signup-form .close-button {
    position: absolute;
    top: 9%;
    left: 22%;
    background: none;
    border: none;
    color: grey;
    font-size: 20px;
    cursor: pointer;
}
.password-field{
    position: relative;
}

.password-field input{
    width: 92%;
}

.eye-icon{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: gray;
}